body {
  counter-reset: item;
  /* to remove */
  font-family: 'proxima nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }

h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  font-weight: 400; }

h3 {
  font-size: 1.25rem;
  margin: 1rem 0 .5rem 0; }

p {
  line-height: 1.6; }

ol, ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0; }

a {
  color: #000; }

nav {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
  text-align: left; }

.logo {
  border: none;
  font-family: 'Rasa', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  height: 20px; }
  .logo:hover {
    text-decoration: none; }
  .logo img {
    display: block;
    height: 30px; }

.checkmarks {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .checkmarks.sustainability li::before {
    content: url(checkmark-sustainability.svg); }
  .checkmarks li {
    font-weight: 600;
    display: block;
    margin-bottom: 1rem; }
    .checkmarks li::before {
      content: url(check.svg);
      color: #fff;
      display: inline-block;
      margin-right: .5rem;
      vertical-align: top;
      width: 1.2em; }

.footnote {
  font-size: .875rem;
  font-style: italic; }

.button {
  font-size: .675rem;
  padding: .875rem; }

.button-group {
  margin-top: 2rem; }

input[type="submit"] {
  color: #0000ff;
  -webkit-appearance: none; }

.hero-section .input-wrapper {
  width: 100%; }
  .hero-section .input-wrapper p {
    font-size: 1rem; }
  .hero-section .input-wrapper a {
    text-decoration: underline; }
    .hero-section .input-wrapper a:hover {
      opacity: .8;
      cursor: pointer; }

.input-form {
  width: 45%;
  padding: 1.25rem;
  font-size: 1rem;
  color: #000;
  border: solid 1px #ccc;
  border-radius: 4px;
  -webkit-appearance: none; }

button.primary, .button.primary {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  background: #000;
  color: #fff;
  border: solid 1px #000;
  padding: 1rem 1.75rem;
  border-radius: 4px;
  text-decoration: none; }
  button.primary:hover, .button.primary:hover {
    opacity: .7;
    cursor: pointer; }

.wave-button {
  background: none;
  border: none;
  border-radius: 6px;
  display: inline-block;
  font-size: .875rem;
  font-weight: 600;
  margin: 0 auto 1rem auto;
  padding: .875rem 1rem;
  text-decoration: none;
  white-space: normal;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.6, 0.2, 1), background-color 0.25s ease-out, color 0.25s ease-out; }
  .wave-button:hover {
    cursor: pointer; }
  .wave-button.white {
    background: #fff;
    color: #000; }
    .wave-button.white:hover {
      background: #fff;
      cursor: pointer;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18), 0 1px 7px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -1px rgba(0, 0, 0, 0.23); }
  .wave-button.purple {
    background: #37A8C0;
    color: #fff; }
    .wave-button.purple:hover {
      background: rgba(55, 191, 192, 0.8);
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18), 0 1px 7px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -1px rgba(0, 0, 0, 0.23); }

.hero-section {
  padding: 0 1rem;
  max-width: 60rem;
  margin: 3rem auto 0 auto; }
  .hero-section p {
    font-size: 1.125rem;
    font-weight: 100; }

#mc_embed_signup input.button {
  display: inline-block; }
#mc_embed_signup input.wave-email::placeholder {
  color: #000;
  white-space: normal; }
#mc_embed_signup input.wave-email {
  padding: .875rem 1rem;
  font-size: .875rem;
  display: block;
  width: 75%;
  background: none;
  border: solid 1px #000;
  color: #000;
  margin: 0 0 1.5rem 0; }

.features-section {
  position: relative;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem; }
  .features-section .feature-description, .features-section .feature-img-wrapper {
    grid-column: span 12; }
  .features-section.left-img div:nth-of-type(1) {
    order: 2; }
  .features-section.left-img div:nth-of-type(2) {
    order: 1; }
  .features-section a {
    text-decoration: none; }
    .features-section a:hover {
      text-decoration: underline; }
  .features-section .read-now {
    color: #37A8C0;
    font-weight: 600; }
  .features-section img {
    margin-bottom: .5rem; }

.stripe-primary {
  background-color: #4b0082;
  color: #fff; }

.stripe-grey {
  background: rgba(0, 0, 0, 0.03);
  color: #000; }

.stripe-sustainability {
  background-color: #006994;
  color: #fff; }

.desktop-only {
  display: none; }

@keyframes future {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes future {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.future {
  -webkit-animation: 2.5s ease 0s normal forwards 1 future;
  animation: 2.5s ease 0s normal forwards 1 future; }
  .future a {
    color: #0000FF; }

/* @media (min-width: 600px ) { */
nav ul {
  display: flex;
  margin: 0;
  float: right; }
  nav ul li {
    display: inline-block;
    margin: 0 .875rem; }
    nav ul li a {
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      padding: 0;
      border: none; }
      nav ul li a:hover {
        transition: color 0.2s ease;
        opacity: .6; }
      nav ul li a.current {
        color: #3300FF; }

.header {
  display: block; }

/* }*/
h2 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 20px solid #000;
  animation: animated-text 1s steps(29, end) 0.5s 1 normal both, animated-cursor 600ms steps(29, end) infinite, animated-border 0s 1.35s forwards; }

/* text animation */
@keyframes animated-text {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes animated-border {
  to {
    border-right: 0; } }
/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75); }
  to {
    border-right-color: transparent; } }
@media screen and (min-width: 40em) {
  h1 {
    font-size: 1.5rem; }

  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    animation: animated-text 1.25s steps(35, end) 0.5s 1 normal both, animated-cursor 600ms steps(35, end) infinite, animated-border 0s 1s forwards; }

  h3 {
    font-size: 2.5rem; }

  h4 {
    font-size: 1.25rem; }

  #mc_embed_signup input.wave-email {
    font-size: .875rem;
    width: 40%; }

  .desktop-only {
    display: initial; }

  .hero-section {
    margin: 10rem auto 0 auto;
    clear: both;
    background: none;
    min-height: 48vh; }
    .hero-section p {
      font-size: 1.5rem; }

  .features-section {
    grid-gap: 2rem;
    padding: 2rem 5rem; }
    .features-section .feature-description, .features-section .feature-img-wrapper {
      grid-column: span 6;
      margin-bottom: 2.5rem;
      padding: 2rem 0; }
    .features-section h2 {
      font-size: 2.5rem;
      line-height: 1.3;
      margin-top: 0; }
    .features-section p {
      font-weight: 100; }
    .features-section p, .features-section li {
      font-size: 1.375rem; }
    .features-section .footnote {
      font-size: 1.125rem; }
    .features-section.left-img div:nth-of-type(1) {
      order: 1; }
    .features-section.left-img div:nth-of-type(2) {
      order: 2; }

  .wave-button {
    font-size: 1rem;
    padding: 1rem 2rem;
    width: initial; } }
@media screen and (min-width: 52em) {
  #polygon {
    right: 400px; } }
@media screen and (min-width: 65em) {
  #polygon {
    right: 450px; } }
.feature-img {
  box-shadow: rgba(0, 0, 0, 0.11) 0px 10px 16px;
  border-radius: 6px;
  max-width: 70%;
  margin: 0 auto;
  display: block; }

/*# sourceMappingURL=splash.css.map */
