.article {
	padding: 1rem;
	font-family: 'Georgia', serif;
	h1 {
		font-family: 'Meta Serif Pro';
		font-weight: 100;
		margin-top: .5rem;
		line-height: 1.3;;
	}
	.article-label {
		color: blue;
		display: inline-block;
		font-family: proxima nova;
		font-weight: bold;
		font-size: 1rem;
	}
	.byline {
		padding: 0 0 2rem 0;
		display: block;
		line-height: 1.5;
		font-size: 1rem;
		font-weight: bold;
	}
	h2, h3, h4 {
		font-family: Meta Serif Pro;
		font-weight: 600;
	}
	ol, ul, hr, h1, h2, h3, h4, h5, p, .byline, cite, span, blockquote, .footnotes, code, .article-header-wrapper {
		max-width: 720px;
		margin-right: auto;
		margin-left: auto;
	}
	li {
		margin-left: 1.5rem;
	}
	.label {
		display: block;
	}
	.label--soft {
		font-size: 1rem;
		text-transform: uppercase;
	}
	.sources {
		list-style-type: none;
		padding: 0;
		li {
			margin-left: 0;
			margin-bottom: 1.5rem;
		}
	}
	.off-site-link {
	    margin-left: .5rem;
    	max-width: 12px;
	}
	time {
		font-weight: 100;
	}
}
@media (min-width: 600px ) {
	.article {
		h1 {
			font-size: 2.675rem;
			line-height: 1.3
		}
	}
}